 @font-face {
   font-family: 'twig-24';
   src:url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/fonts/twig-24.eot');
   src:url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/fonts/twig-24.eot?#iefix') format('embedded-opentype'),
     url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/fonts/twig-24.woff') format('woff'),
     url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/fonts/twig-24.ttf') format('truetype'),
     url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/fonts/twig-24.svg#Icons') format('svg');
   font-weight: normal;
   font-style: normal;
 }


body.disable-scroll {
  overflow: hidden;
}

.show-editor {
  display: block !important;
}

#editor {
  width: 100%;
  height: 500px;
  display: none;
}

/*// OVERLAY*/
#editor.overlay {
  position: absolute;
  z-index: 16;
  top: 0;
  left: 0;
  height: 100%;
}

#editor #preview {
    width: 70%;
    height: 100%;
    display: block;
    /*background: rgba(248, 248, 248, 0.8);*/
    background: none;
    color: white;
    overflow-x: auto;
    float: left;
    position: relative;
}

#editor #preview #preview-title {
  font-size: 25px;
  padding-left: 10px;
  width: 100%;
  color: #4078c0;
  position: absolute;
  top: 0;
}

#editor #preview #preview-content {
  height: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(248, 248, 248, 0.95);
}

#editor #preview #preview-content pre {
  height: 100%;
  background: none;
}

#editor #preview #preview-content pre code {
  height: 100%;
  background: none;
}

#editor #tree {
  width: 30%;
  max-width: 30%;
  background: rgba(248, 248, 248, 0.8);
  height: 100%;
  float: left;
  border-right: 1px solid rgba(204, 204, 204, 0.4);
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

#editor #overlay {
  background: rgba(248, 248, 248, 0.95);
}

#editor #tree ul, #editor #tree ul ul {
  display: inline-table;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
   
#editor #tree ul ul {
  margin-left: 10px;
  display: none;
}

#editor #tree ul:first-child ul {
  margin-left: 10px;
}

#editor #tree ul li {
  margin: 0;
  padding: 0 12px;
  display: table-footer-group;
  line-height: 20px;
  color: white;
  cursor: pointer;
  padding: 0px 15px;
  padding-left: 20px;
}
#editor #tree ul li.close {
  background: url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/images/close.png') no-repeat;
  background-position: 0px 3px;
}

#editor #tree ul li.open {
  background: url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/images/open.png') no-repeat;
  background-position: 0px 3px;
}

#editor #tree ul li.file {
  background: url('chrome-extension://@dnonnbeiomdlhmbglfffkmcifnojbmfk/images/file.png') no-repeat;
  background-position: 0px 3px;
}

#editor #tree ul li a {
  display: block;
  padding: 0 20px;
}

#editor #tree ul li a:hover {
  text-decoration: underline;
  /*background: white;*/
}

#editor #tree .black {
  display: block;
}

#editor #tree ul li.over {
  background: cornflowerblue !important;
}

.hide {
  display: none !important;
}

#button-hide {
  position: fixed;
  cursor: pointer;
  right: 0;
  bottom: 0;
  width: 30px;
  margin: 10px;
  z-index: 99999;
}

/* LOADER */
.loader-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: rgba(204, 204, 204, 0.5);*/
  background: #F9F9F9;
  top: 0;
  right: 0;
}
.loader-wrapper .loader {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -32px;
  left: 50%;
  margin-left: -32px;
}
.loader-wrapper .loader .spinner {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top: solid transparent;
  border-bottom: solid transparent;
  animation: loaderRotate 1s ease;
  animation-iteration-count: infinite;
}
@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}