body.disable-scroll {
  overflow: hidden;
}

.show-editor {
  display: block !important;
}

#nt-editor {
  width: 100%;
  height: 500px;
  display: none;
}

/*// OVERLAY*/
#nt-editor.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
}

#nt-editor #preview {
    width: calc(100% - 300px);
    height: 100%;
    display: block;
    background: none;
    color: white;
    overflow-x: auto;
    float: left;
    position: relative;

    position: absolute;
    right: 0;
    z-index: 5;
}

#nt-editor #preview #preview-title {
  font-size: 25px;
  padding-left: 10px;
  width: 100%;
  color: #4078c0;
  position: absolute;
  top: 0;
  background: rgba(248, 248, 248, 0.95);
  height: 40px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

#nt-editor #preview #preview-title a.download {
  position: absolute;
  background: url("chrome-extension://__MSG_@@extension_id__/images/download2.png") 0px 0px no-repeat;
  border: 0 !important;
  padding: 8px;
  margin: 2px;
  right: 5px;
  left: initial;
  width: 32px;
  height: 32px;
}

#nt-editor #preview #preview-title a.download:hover {
  opacity: 0.8;
}

#nt-editor #preview #preview-content {
  height: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(248, 248, 248, 0.95);
}

#nt-editor #priview #preview-content #content-image {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
}

#nt-editor #preview #preview-content #content-image img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  margin: auto;
  display: grid;
  vertical-align: middle;
}

#nt-editor #preview #preview-content pre {
  height: 100%;
  background: none;
}

#nt-editor #preview #preview-content pre code {
  height: 100%;
  background: none;
}

#nt-editor #tree {
  width: 300px;
  min-width: 150px;
  max-width: 100%;
  background: rgba(248, 248, 248, 0.95);
  height: 100%;
  float: left;
  border-right: 1px solid rgba(204, 204, 204, 0.4);
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;

  position: absolute;
  left: 0;
  z-index: 5;
}

#nt-editor #tree #nt-branch-selector-box {
  width: 100%;
  height: 35px;
  display: block;
}

#nt-editor #tree #nt-branch-selector-box select{
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 1px solid #ddd;
}


#nt-editor #overlay {
  background: rgba(248, 248, 248, 0.95);
}

#nt-editor #tree ul, #nt-editor #tree ul ul {
  display: inline-table;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nt-editor #tree ul ul {
  margin-left: 10px;
  display: none;
}

#nt-editor #tree ul:first-child ul {
  margin-left: 10px;
}

#nt-editor #tree > ul {
  display: table !important;
  position: absolute;
  left: 15px;
  z-index: 1;
}

#nt-editor #tree ul li {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  color: white;
  cursor: pointer;
  padding: 0px 15px;
  padding-left: 0;
  display: block;
  position: relative;
}

#nt-editor #tree ul li.close {
  background: url('chrome-extension://__MSG_@@extension_id__/images/close.png') no-repeat;
  background-position: 0px 5px;
}

#nt-editor #tree ul li.open {
  background: url('chrome-extension://__MSG_@@extension_id__/images/open.png') no-repeat;
  background-position: 0px 6px;
  display: table !important;
}

#nt-editor #tree ul li .button.file {
  position: absolute;
  width: 16px;
  background: url("chrome-extension://__MSG_@@extension_id__/images/download.png") 0px 0px no-repeat;
  height: 16px;
  border: 0 !important;
  left: -5px;
  padding: 8px;
  margin: 2px;
  display: none;
}

#nt-editor #tree ul li .button.file.over{
  display: block;
  opacity: 0.8;
}

#nt-editor #tree ul li a {
  display: block;
  padding: 0 15px;
}

#nt-editor #tree ul li a:hover {
  text-decoration: underline;
  /*background: white;*/
}

#nt-editor #tree .black {
  display: block;
}

#nt-editor #tree ul li.over {
  background: cornflowerblue !important;
}

#nt-editor .hide {
  display: none !important;
}

#nt-button-hide {
  position: fixed;
  cursor: pointer;
  right: 0;
  bottom: 0;
  width: 30px;
  margin: 10px;
  z-index: 99999;
}

/* LOADER */
#nt-editor .loader-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: rgba(204, 204, 204, 0.5);*/
  background: #F9F9F9;
  top: 0;
  right: 0;
}
#nt-editor .loader-wrapper .loader {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -32px;
  left: 50%;
  margin-left: -32px;
}
#nt-editor .loader-wrapper .loader .spinner {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top: solid transparent;
  border-bottom: solid transparent;
  animation: loaderRotate 1s ease;
  animation-iteration-count: infinite;
}
@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
